.contact-container {
    min-height: 400px;
    background-color: rgb(130, 137, 160);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mail-container {
    background: rgb(130, 137, 160);
    min-width: 40%;
    color: rgb(208, 220, 237)
}

.email-button {
    min-width: 100px;
    min-height: 40px;
    padding: 4px 12px;
    background: rgb(208, 220, 237);
    color: rgb(50, 52, 59);
    font-size: 14px;
    font-weight: 550;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
}

.email-button:hover {
    background: rgb(50, 52, 59);
    color: rgb(239, 241, 247);
    cursor: pointer;
}

.alt-links {
    background: rgb(130, 137, 160);
    color: rgb(208, 220, 237);
    min-width: 40%;
}

.link-list {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.list-link {
    list-style: none;
    padding-top: 10px;
    font-size: 18px;
}

li:hover {
    color: rgb(50, 52, 59);
    cursor: pointer;
}