body {
    background-color: darkslategray;
}

body a:hover {
    color: red;
}

body a {
    font-weight: bold;
    text-decoration: none;
}

header {
    height: 225px;
    width: 100%;
    color: black;
    font-family: 'Great Vibes', cursive;
    border-bottom: solid rgb(13, 83, 100);
}


header a {
    color: black;
    text-decoration: none;
    font-size: 25px;
    font-weight: bolder;
}

header a:hover {
    color: red;
}

header h1 {
    font-size: 50px;
    text-align: center;
    /* text-decoration: underline; */
    padding-top: 45px;
    color: black;
    font-weight: bolder;
}

header p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Great Vibes', cursive;
}

header nav {
    text-align: right;
    padding-right: 20px;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding-left: 30px;
}

.body {
    background-color: darkcyan;
}

aside {
    padding-top: 75px;
}

main {
    padding-top: 75px;
}

h2 {
    text-decoration: underline;
    text-decoration-color: rgb(13, 83, 100);
}

.row {
    display: flex;
    padding-bottom: 75px;
    border-bottom: solid rgb(13, 83, 100);
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    box-shadow: 10px 10px 5px rgb(27, 95, 80);
}

.col-sm-3 {
    align-self: center;
}

#horiseon {
    height: 500px;
    width: auto;
    margin-bottom: 30px;
    box-shadow: 10px 10px 5px rgb(27, 95, 80);
}

#landing {
    height: 375px;
    width: auto;
    margin-bottom: 30px;
    margin-top: 25px;
    box-shadow: 10px 10px 5px rgb(27, 95, 80);
}

.links {
    color: black;
}

#project {
    padding-bottom: 25px;
}

input[type=text], textarea {
    display: block;
    width: 50%;
    padding: 5px;
    border: solid 1px black;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

input[type=submit] {
    padding: 3px 5px;
    border: solid 1px black;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 3px;
    margin-bottom: 20px;
}

input[type=submit]:hover {
    background-color: red;
}

i {
    padding-right: 20px;
    
    
}

i:hover {
    color:red;
    cursor: pointer;
}

.icons {
    margin-left: 240px;
   
}

#icons {
    color: black;
}

#selfie {
    float:left;
    height: 130px;
    width: 75px;
    margin-right: 10px;
    box-shadow: 10px 10px 5px rgb(27, 95, 80);
}
