body {
    background-color: darkslategray;
}

body a:hover {
    color:  red;
}

body a {
    font-weight: bold;
    text-decoration: none;
}

header {
    height: 200px;
    border: solid 2px black;
    background-image: url("Images/Skyline.jpeg");
}

header a {
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

header a:hover {
    color: red;
}

h1 {
    text-align: center;
    text-decoration: underline;
    padding-top: 45px;
}

header p {
    text-align: center;
    font-size: 20px;
}

header nav {
    text-align: right;
    padding-right: 20px;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding-left: 30px;
}

.body {
    background-color: darkcyan;
}

aside {
    padding-top: 75px;
}

main {
    padding-top: 75px;
}

.row {
    display: flex;
    padding-bottom: 75px;
    border: solid 2px black;
}

.img {
   display: block;
   margin-left: auto;
   margin-right: auto;
   
   width: 65%;
   box-shadow: 10px 10px 5px rgb(27, 95, 80);
   
}

.col-sm-3 {
    align-self: center;
}

#horiseon {
    height: 500px;
    width: auto;
}

#landing {
    height: 375px;
    width: auto;
}

.links {
    color: black;
    
}

#project {
    padding-bottom: 25px;
}

