.intro {
    color: rgb(130, 137, 160);
    -webkit-text-stroke: 1px rgb(239, 241, 247);
    display: flex;
    flex-direction: column;
}

#intro-name {
    font-size: 40px;
    font-weight: 100;
    font-stretch: expanded;
}

#intro-text {
    font-size: 20px;
}

.intro-span {
    font-size: 40px;
}