.footer {
    min-height: 60px;
    background: rgb(50, 54, 61);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons {
    display: flex;
    gap: 50px;
    background: rgb(50, 52, 59);
    padding-top: 15px;
}

a {
    color: rgb(208, 220, 237);
}

a:hover {
    color: rgb(130, 137, 160);
    cursor: pointer;
}

.footer-text {
    color: rgb(208, 220, 237)
}