.header {
    /* width: 100vw; */
    justify-content: space-between;
    display: flex;
    background: rgb(50, 52, 59)
}

.intro {
    color: rgb(130, 137, 160);
    -webkit-text-stroke: 1px rgb(239, 241, 247);
    display: flex;
    flex-direction: column;
}

#intro-name {
    font-size: 40px;
}

#intro-text {
    font-size: 20px;
}

.intro-span {
    font-size: 40px;
}

span {
    content: "\003C";
}

.nav {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 0 0;
}

.nav-links {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.nav-link {
    min-width: 80px;
    padding: 4px 12px;
    background: rgb(208, 220, 237);
    color: rgb(50, 52, 59);
    font-size: 12px;
    font-weight: 550;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
}

.hidden {
    display: none;
}

.nav-link:hover {
    background: rgb(130, 137, 160);
    color: rgb(239, 241, 247);
    cursor: pointer;
}