.contact-container {
    min-height: 100vh;
    /* background-color: rgb(130, 137, 160); */
    background-image: linear-gradient(rgb(130, 137, 160), rgb(208, 220, 237));
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Assistant', sans-serif;
}

.contact-content {
    display: flex;
    flex-direction: row;
}

.mail-container {
    /* background: rgb(130, 137, 160); */
    /* background-image: linear-gradient(rgb(130, 137, 160), rgb(208, 220, 237)); */
    min-width: 40%;
    color: rgb(208, 220, 237);
    text-align: left;
}

.email-button {
    min-width: 100px;
    min-height: 40px;
    padding: 4px 12px;
    background: rgb(208, 220, 237);
    color: rgb(50, 52, 59);
    font-size: 14px;
    font-weight: 550;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 5px;
}

.email-button:hover {
    background: rgb(50, 52, 59);
    color: rgb(239, 241, 247);
    cursor: pointer;
}

.alt-links {
    /* background: rgb(130, 137, 160); */
    color: rgb(208, 220, 237);
    min-width: 40%;
    /* text-align: left; */
    text-align: start;
}

hr {
    width: 90%;
}

.alt-links-header {
    padding-left: 38px;
}

.link-list {
    display: flex;
    /* justify-content: center; */
    gap: 80px;
    /* text-align: left; */
}

.list-link {
    list-style: none;
    padding-top: 10px;
    font-size: 18px;
    font-weight: 500;
}

a {
    text-decoration: none;
}

a:hover {
    color: rgb(50, 52, 59);
    cursor: pointer;
}